<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="std1" class="com.example.demo.Student" autowire="byName">
        <!-- <property name="age" value="26" />
        <property name="rno" value="04" /> -->
        <!-- <property name="writer" ref="s1"></property> -->
        <!-- <property name="pc1" ref="pc11"></property> -->
    </bean>
    <bean id="pc1" class="com.example.demo.Pencil"></bean>
    <bean id="p1" class="com.example.demo.Pen"> </bean>

    <bean id="s1" class="com.example.demo.Sketch"></bean>

</beans>